* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: auto 20px;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.cursor {
    pointer-events: none;
    display: none;
}

#canvas-container:hover ~ .cursor {
    display: block;
}

#cursor-cross {
    position: absolute;
    transform: translate(-50%, -50%);
}
#cursor-img {
    position: absolute;
}

/* top bar */

#top-bar {
    grid-row: 1;
    grid-column: 1;
    align-self: flex-start;
    justify-self: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: hidden;
    width: 200px;
    height: auto;
    background-color: #6f5244;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: width 0.1s, height 0.3s ease-in-out, overflow 0s 0.5s;
}

#shelf {
    overflow-y: scroll;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 0;
    width: 100%;
    transition: height 0.4s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#shelf::before {
    content: "Shelf is empty";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

#shelf::-webkit-scrollbar {
    display: none;
}

#top-bar:hover #shelf {
    height: 300px;
}

#top-bar:hover #money-display {
    margin-bottom: 3px;
}

#top-bar:hover::after {
    margin-top: 3px;
}

.shelf-item {
    width: auto;
    height: 80px;
    background-color: rgb(77, 57, 50);
    border: 4px solid rgb(58, 42, 36);
    display: grid;
    grid-template-columns: 76px auto 80px;
    grid-template-rows: 20px auto;
    align-items: center;
    margin: 5px 10px;
    z-index: 4;
}

#top-bar::after {
    content: "";
    height: 3px;
    width: 90px;
    background-color: #600000;
    border-radius: 2px;
    position: relative;
    margin: 1.5px 0 3px 0;
}

#money-display {
    pointer-events: none;
    margin-top: 4px;
    margin-bottom: 0.5px;
    font-size: 20px;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin 0.4s;
    color: rgba(255, 255, 255, 0.7);
}


/*#shelf::before {
    content: "#";
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
    left: -20px;
    width: 20px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    background-color: inherit;
    z-index: 30;
    color:rgb(33 33 33);
}

.shelf-item {
    width: 80px;
    height: 80px;
    background-color: rgb(77, 57, 50);
    border: 4px solid rgb(58, 42, 36);
    display: grid;
    margin: 0 0 15px 0;
}*/

/* shop */

#shop {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(84, 61, 52);
    padding-top: 22px;
    padding-bottom: 100px;

    overflow-y: scroll;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#shop::-webkit-scrollbar {
    display: none;
}

.shop-header {
    margin: 30px 0 10px 0;
    color:rgb(33 33 33);
    width: 270px;
}

.shop-item {
    width: 270px;
    height: 80px;
    background-color: rgb(77, 57, 50);
    border: 4px solid rgb(58, 42, 36);
    display: grid;
    grid-template-columns: 76px auto 80px;
    grid-template-rows: 20px auto;
    align-items: center;
    margin: 0 0 15px 0;
}
.shop-item img {
    grid-column: 1;
    grid-row: 1/3;
    height: 72px;
    aspect-ratio: 1;
    border-right-color: rgb(58, 42, 36);
    border-right-style: solid;
    border-right-width: 4px;
    box-sizing: content-box;
}
.shop-item .item-title {
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
}
.shop-item .item-desc {
    grid-column: 2;
    grid-row: 2;
    font-size: 11px;
}
.buy-btn, .use-btn {
    grid-column: 3;
    grid-row: 1/3;
    height: 30px;
    justify-self: stretch;
    align-self: center;
    overflow: hidden;
    background-color: gray;
    font-weight: bold;
    border-radius: 10px;
    color:rgba(18, 18, 18, 0.635);
    pointer-events: none;
    transition: all 0.3s;
    position: relative;
}
.buy-btn.affordable, .use-btn {
    background-color: greenyellow;
    pointer-events: all;
}
.buy-btn div {
    transition: inherit;
    transform: translateY(0%);
    position:absolute;
    top: 0em;
}
.buy-btn::before {
    transition: inherit;
    transform: translateY(0%);
    position:absolute;
    top: -1.1em;
    content: "USE";
}
.buy-btn:hover div {
    transform: translateY(100%);
}
.buy-btn:hover::before {
    transform: translateY(100%);
}
/*
.shop-rect {
    width: 270px;
}

.shop-square {
    width: 80px;
}

.shop-rect img {
    border-right-color: rgb(58, 42, 36);
    border-right-style: solid;
    border-right-width: 4px;
    box-sizing: content-box;
}
*/
#canvas-container {
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(41, 96, 52);
    display: grid;
    cursor: none;
}

canvas {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
}

#ui-cvs {
    pointer-events: initial;
    --cursorloc: url(images/cursors/lens.png);
    cursor: var(--cursorloc), crosshair;
}



















#nav-bar {
    border-radius: 10px;
    background-color: black;
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    right: 150px;
    transform: translateX(50%);
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    font-size: 14px;
    background-color: black;
    border: 4px solid black;
    padding: 3px;
    margin: 0 -2px;
    border-radius: 10px;
    color: rgb(195, 0, 255);
}

input[type="radio"]:checked + label {
    background-color: white;
}
















/* seasons */
#season-bar {
    grid-column: 1/3;
    grid-row: 2;
    background-image: linear-gradient(90deg, #717171, #006000, #808000, #600000, #717171);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
}

#season-marker {
    --markercolor: rgb(163, 0, 0);
    background-color: var(--markercolor);
    border-color: var(--markercolor);
    width: 10px;
    height: 7px;
    z-index: 3;
    position: absolute;
    left: 0%;
    pointer-events: none;
    transform: translateX(-50%);
}

#season-marker::before {
    content: "";
    width: 0px;
    border: 5px solid transparent;
    border-top-color: inherit;
    position: absolute;
    transform: translateY(7px);
}

.skip-btn {
    background-color:rgba(255, 255, 255, 0.2);
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    cursor: default;
    position: relative;
    z-index: 2;
}

.skip-btn.activeseason::before {
    content: 'SKIP';
    position: absolute;
    right: 1em;
    opacity: inherit;
    transition: opacity 0.5s 0.2s;
    display: block;
}

.skip-btn::before {
    display: none;
}

.winter-skip::before {
    color: #5b5b5b;
}

.spring-skip::before {
    color:#006300;
}

.summer-skip::before {
    color:#b7b700;
}

.autumn-skip::before {
    color:#6f0101;
}

#season-bar:hover .skip-btn:hover {
    opacity: 1;
}

.winter-skip  {
    flex-grow: 1;
}

.winter-skip-left {
    color: white;
}

.winter-skip-left:hover ~ .winter-skip-right,
.winter-skip-right:hover ~ .winter-skip-right-left {
    opacity: 1;
}

.winter-skip-right-left {
    position: absolute;
    left: 0;
    height: 20px;
    width: 12.5vw;
    z-index: 1;
    color: white;
}


.winter-skip-right::before {
    content: "";
}  


/* popups */

.popup {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    position: relative;
    height: 40%;
    width: 40%;
    background-color: rgb(209, 187, 61);
    z-index: 10;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s;

}

.popup.opened {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
}

.popup .shader {
    visibility: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 110vh;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0;
    z-index: 20;
}

/*#tile-info-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 40px;
    height: 60px;
    background: inherit;
}

#tile-info-bottom::after,
#tile-info-bottom::before {
    width: 30px;
    height: 30px;

}*/

#awards-hover {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    z-index: 5;
    background-color: rgba(118, 118, 118, 0);
}

#awards-hover:hover {
    height: 300px;
    width: 200px;
}
#awards-hider {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.3s;
    pointer-events: none;
    overflow: hidden;
    opacity: 1;
}

#awards-hover:hover #awards-hider {
    height: 700px;
}

#awards {
    top: 50%;
    left: 50%;
    transform: translate(-20px, -20px);
    height: 300px;
    width: 200px;
    border-radius: 20px;
    background-color: #6f5244;

    overflow-y: scroll;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#awards::-webkit-scrollbar {
    display: none;
}
#awards-title {
    position: absolute;
    top: 8px;
    left: 9px;
}
#awards-title::first-letter {
    margin-right: 40px;
}