@font-face { font-family: ingame; src: url('./fonts/Sasha Play.otf'); } 
html {
    scroll-behavior: smooth;
    margin:0;
}

body {
    background-image: url(./images/woodwall.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: ingame;
    height: 100vh;
    font-size: 30px;
    margin:0;
}

#logo {
    margin: 0;
    margin-top: 5vh;
}

input {
    font-family: inherit;
}

input[type=submit] {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
    font-size: 20px;
    grid-row: 1;
    grid-column: 2;
    background-color: #319f35;
    border: 0;
    box-shadow: 0 0 10px 0 black, inset 0 0 10px 0 #003002;
}
input[type=submit]:hover {
    
}
input[type=submit]:disabled {
    background-color: rgb(73, 56, 50);
    pointer-events: none;
}
/*input[type=submit]::after {
    content: "";
    transform: rotate(45deg);
    width: 5px;
    aspect-ratio: 1;
    border: 0 solid black;
    border-top: 2px;
    border-right: 2px;
}*/

input[type=text] {
    box-sizing: border-box;
    padding-left: 10px;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    font-size: 20px;
    height: 8vh;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}

input[type=text].invalid {
    background-color: rgb(245, 112, 63);
}

form {
    width: 40vw;
    height: 40vh;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 8vh 40vh;
    grid-column-gap: 10px;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    background-color: rgb(129, 240, 129);
}

#choose-hover {
    grid-row: 1 / auto;
    grid-column: 1;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#chooser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    overflow-y: scroll;
    max-height: 0;
    opacity: 0;
    border-radius: 20px;
}
#chooser.open {
    max-height: 30vh;
    overflow-y: scroll;
    opacity: 1;
}

label {
    flex-grow: 0;
    flex-shrink: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(18, 83, 18);
}

label:hover {
    background-color: rgb(88, 153, 88);
}